{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.25/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.25/plugins/responsive-2.2.9/css/responsive.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.25/plugins/buttons-1.7.1/css/buttons.bootstrap4.min.css' %}"/>

    <script src="{% static 'lib/datatables-1.10.25/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/responsive-2.2.9/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/responsive-2.2.9/js/responsive.bootstrap4.min.js' %}"></script>
    
    <script src="{% static 'lib/datatables-1.10.25/plugins/buttons-1.7.1/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/buttons-1.7.1/js/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/jszip-2.5.0/jszip.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/buttons-1.7.1/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/buttons-1.7.1/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/buttons-1.7.1/js/buttons.colVis.min.js' %}"></script>

    {% block head_list %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="card card-outline card-primary">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="card-title mb-0">
                    <i class="fas fa-list"></i>
                    <b>{{ title }}</b>
                </h3>
                {% if create_url %}
                    <a href="{{ create_url }}" class="btn btn-primary btn-sm">
                        <i class="fas fa-plus"></i> Nuevo Registro
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-hover w-100" id="data">
                <thead>
                    {% block columns %}{% endblock %}
                </thead>
                <tbody>
                    {% block rows %}{% endblock %}
                </tbody>
            </table>
        </div>
        </div>
{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        $(function () {
            // 3. Objeto de opciones para DataTables, personalizable desde plantillas hijas
            let datatableOptions = {
                responsive: true,
                autoWidth: false,
                destroy: true,
                deferRender: true,
                // Traducción al español
                language: {
                    url: "{% static 'lib/datatables-1.10.25/lang/es-ES.json' %}"
                },
                // Definición de columnas que no deben ser ordenables o buscables (ej. Opciones)
                columnDefs: [
                    {
                        targets: [-1], // Última columna
                        class: 'text-center',
                        orderable: false,
                        searchable: false
                    }
                ],
                // Permite extender o sobreescribir opciones desde plantillas hijas
                {% block datatables_options %}{% endblock %}
            };

            // Se inicializa la tabla con las opciones
            $('#data').DataTable(datatableOptions);

            // Se pueden agregar más inicializaciones o lógica JS aquí
            {% block javascript_list %}{% endblock %}
        });
    </script>
{% endblock %}