{% extends 'list.html' %}
{% load static %}

{% block head_list %}
    <link rel="stylesheet" href="{% static 'lib/bootstrap-daterangepicker-3.1/css/daterangepicker.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.25/plugins/buttons-1.7.1/css/buttons.bootstrap.min.css' %}"/>
    {% block head_report %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-chart-bar"></i>
                <b>{{ title }}</b>
            </h3>
        </div>
        <div class="card-body">
            {% block content_report %}
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label>Rango de Fechas:</label>
                            <div class="input-group">
                                <input type="text" name="date_range" class="form-control" autocomplete="off">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="far fa-calendar-alt"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                {% block report_results %}
                    <table class="table table-bordered" id="data">
                        <thead>
                            {% block columns %}{% endblock %}
                        </thead>
                        <tbody></tbody>
                    </table>
                {% endblock %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascript_list %}
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap-daterangepicker-3.1/js/daterangepicker.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/buttons-1.7.1/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/jszip-2.5.0/jszip.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.25/plugins/buttons-1.7.1/js/buttons.html5.min.js' %}"></script>
    {% block javascript_report %}{% endblock %}
{% endblock %}