{% extends 'login/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="login-box" style="width: 400px;">
    <div class="login-logo">
        <a href="{% url 'index' %}"><b>SIGI</b>VENT</a>
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Ingrese sus nuevas credenciales</p>
            <form action="." method="post" id="passwordChangeForm">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">

                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    <ul class="mb-0">
                        {% for field in form %}{% for error in field.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}{% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% for field in form %}
                    <div class="input-group mb-3">
                        {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="row pt-2">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary btn-block">
                            <i class="fas fa-save"></i> Guardar cambios
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#passwordChangeForm').on('submit', function (e) {
            e.preventDefault();
            const parameters = new FormData(this);
            const title = 'Confirmación';
            const content = '¿Estás seguro de cambiar tu contraseña?';
            
            submit_with_ajax(pathname, title, content, parameters, function (response) {
                Swal.fire({
                    title: 'Notificación',
                    text: 'Tu contraseña ha sido cambiada correctamente.',
                    icon: 'success',
                    timer: 2000,
                    showConfirmButton: false
                }).then(() => {
                    location.href = '{{ login_url }}';
                });
            });
        });
    });
</script>
{% endblock %}