{% extends 'login/base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="login-box">
    <div class="login-logo">
        <a href="{% url 'index' %}"><b>SIGI</b>VENT</a>
    </div>
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">
                Ingresa tu correo electrónico para recibir las instrucciones y reiniciar tu contraseña.
            </p>

            <form action="." method="post" id="resetPasswordForm">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">

                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <ul class="mb-0" style="padding-left: 20px;">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="input-group mb-3">
                    {% render_field form.email class='form-control' placeholder='Correo electrónico' autocomplete='email' %}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>

                <div class="row pt-2">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">
                            <i class="fas fa-paper-plane"></i> Enviar enlace de reseteo
                        </button>
                    </div>
                </div>
                 <p class="text-center mt-3 mb-0" style="font-size: 14px;">
                    <a href="{% url 'login' %}">Volver al inicio de sesión</a>
                </p>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#resetPasswordForm').on('submit', function (e) {
            e.preventDefault();
            const parameters = new FormData(this);
            
            submit_with_ajax(pathname, null, '', parameters, function (response) {
                Swal.fire({
                    title: 'Notificación',
                    text: 'Se ha enviado un correo con las instrucciones para resetear tu contraseña.',
                    icon: 'success',
                    timer: 3000,
                    showConfirmButton: false,
                }).then(() => {
                    location.href = '{% url "login" %}';
                });
            });
        });
    });
</script>
{% endblock %}